*.tsv
*.csv
*.gz
*.pdf
*.rds
*.Rout
*.out
*.chain
*.r
*.xls
*.narrowPeak
*.bed
*.html

analysis/differential/*.md
analysis/differential/figure/
analysis/differential/pathways/
analysis/differential/results_de/
analysis/differential/results_lfc/
analysis/genomic/hg19.ensGene
analysis/logcount.err
misc/
pics/
