*.tsv
*.csv
*.gz
*.pdf
*.rds
*.Rout
*.out
*.chain
*.r
*.xls
*.narrowPeak
*.bed
*.html

internal/analysis/differential/figure/
internal/analysis/differential/kegg.md
internal/analysis/differential/old_kegg.md
internal/analysis/differential/pathways/
internal/analysis/differential/ref.md
internal/analysis/differential/results_de/
internal/analysis/differential/results_lfc/
internal/analysis/genomic/hg19.ensGene
internal/analysis/logcount.err
internal/misc/
internal/pics/
